<!--
    
 @Name：不落阁整站模板源码
 @Author：Absolutely
 @Site：http://www.lyblogs.cn

 -->

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; Charset=gb2312">
	<meta http-equiv="Content-Language" content="zh-CN">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<title>不落阁 - 文章专栏</title>
	<link rel="shortcut icon" href="/public/images/Logo_40.png" type="image/x-icon">
	<!--Layui-->
	<link href="/public/plug/layui/css/layui.css" rel="stylesheet" />
	<!--font-awesome-->
	<link href="/public/plug/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<!--全局样式表-->
	<link href="/public/css/global.css" rel="stylesheet" />
	<!--本页样式表-->
	<link href="/public/css/article.css" rel="stylesheet" />
</head>

<body>
	<!-- 导航 -->
	<nav class="blog-nav layui-header">
		<div class="blog-container">
			<!-- QQ互联登陆 -->
			<a href="javascript:;" class="blog-user layui-hide">
				<img src="/public/images/Absolutely.jpg" alt="Absolutely" title="Absolutely" />
			</a>
			<!-- 不落阁 -->
			<a class="blog-logo" href="/">不落阁</a>
			<!-- 导航菜单 -->

			<!-- 手机和平板的导航开关 -->
		</div>
	</nav>
	<!-- 主体（一般只改变这里的内容） -->
	<div class="blog-body">
		<div class="blog-container">
			<blockquote class="layui-elem-quote sitemap layui-breadcrumb shadow">
				<a href="/" title="网站首页">网站首页</a>
				<a><cite>{{info.title}}</cite></a>
			</blockquote>
			<div class="blog-main">
				<div class="">
					<div class="shadow"
						style="text-align:center;font-size:16px;padding:40px 15px;background:#fff;margin-bottom:15px;">
						<div>
							<h3>{{info.title}}</h3>
						</div>
						<div class="article-subtitle">
							<span>{{format(info.create_time,"yyyy-MM-dd")}}</span>
							<span>作者:</span>
							<span>{{info.userName}}</span>
						</div>
						<hr />
						<div class="article-content">{{info.content | safe }}</div>
					</div>

				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<!-- 底部 -->
	<footer class="blog-footer">
		<p><span>Copyright</span><span>&copy;</span><span>2017</span><a href="http://www.lyblogs.cn">不落阁</a><span>Design
				By LY</span></p>
		<p><a href="http://www.miibeian.gov.cn/" target="_blank">蜀ICP备16029915号-1</a></p>
	</footer>
	<!--侧边导航-->
	<ul class="layui-nav layui-nav-tree layui-nav-side blog-nav-left layui-hide" lay-filter="nav">
		<li class="layui-nav-item">
			<a href="home.html"><i class="fa fa-home fa-fw"></i>&nbsp;网站首页</a>
		</li>
		<li class="layui-nav-item layui-this">
			<a href="article.html"><i class="fa fa-file-text fa-fw"></i>&nbsp;文章专栏</a>
		</li>
		<li class="layui-nav-item">
			<a href="resource.html"><i class="fa fa-tags fa-fw"></i>&nbsp;资源分享</a>
		</li>
		<li class="layui-nav-item">
			<a href="timeline.html"><i class="fa fa-road fa-fw"></i>&nbsp;点点滴滴</a>
		</li>
		<li class="layui-nav-item">
			<a href="about.html"><i class="fa fa-info fa-fw"></i>&nbsp;关于本站</a>
		</li>
	</ul>
	<!--分享窗体-->
	<div class="blog-share layui-hide">
		<div class="blog-share-body">
			<div style="width: 200px;height:100%;">
				<div class="bdsharebuttonbox">
					<a class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
					<a class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
					<a class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
					<a class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
				</div>
			</div>
		</div>
	</div>
	<!--遮罩-->
	<div class="blog-mask animated layui-hide"></div>
	<!-- layui.js -->
	<script src="/public/plug/layui/layui.js"></script>
	<!-- 全局脚本 -->
	<script src="/public/js/global.js"></script>
</body>

</html>